{% extends 'my_app/base.html'%}
{% block about %} 
<div class="container mt-5">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 class="text-center mt-5">About PhytoChemDB</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et urna nec justo bibendum tristique a vel
                    turpis. Nullam laoreet erat a justo cursus, nec ultricies orci accumsan. Integer et hendrerit metus.
                    Sed
                    id ante eu nunc ultricies efficitur eu eu urna. Duis euismod bibendum quam, nec accumsan neque
                    vestibulum
                    eu.</p>
                <p>PhytoChemDB is a project dedicated to cataloging and exploring the diverse world of phytochemicals
                    found
                    in plants. Our mission is to provide a comprehensive and accessible resource for researchers,
                    students,
                    and enthusiasts interested in the chemical compounds that make plants unique.</p>
            </div>
        </div>
    </div>
{% endblock about%}