{% extends 'my_app/base.html'%}
{% load static %}

{% block cmd %}

<style>
    table thead tr th{
        background-color: rgb(0, 110, 255) !important ;
        color:white !important;
    }
    #fixed-column {
        position: sticky;
        top: 100px;

    }

    .list-group .list-group-item{
        border-radius: 12px;
    
    }
    .list-group-item:hover {
        background-color: rgb(0, 110, 255);
        color: white;
        transition: 0.15s;
    }
    a {
        text-decoration: none;
    }
</style>

<div class="container mt-5 pt-5">
    <div class="row main-content">
        <div class="col-md-9 pt-4">
            <h1 class="mb-4">Compound Name</h1>
            <div class="row">
                <div class="col-md-6">
                    <!-- Compound Image -->
                    <img style="width:300px;" src="{{dict.plant_image.url}}" alt="Compound Image"
                        class="compound-image mb-3">
                </div>
                <div class="col-md-6" id="summary">
                    <!-- Compound Information -->
                    <p class="lead">Source Plant: {{dict.name}}</p>
                    <p>Family: Plant Family</p>
                    <p>Part Used: Plant Part</p>
                    <p>Isolated From: Isolation Source</p>
                    <p>Chemical Class: Classification</p>
                </div>
            </div>

            <!-- Chemical Structure Section -->
            <section id="summary">
                <div class="mt-4">
                    <h2>Title and summary</h2>
                    <img src="{{dicts.plant_image.url}}" alt="Chemical Structure" class="compound-image">
                </div>
            </section>
            <section id="mcprop">
                <!-- Biological Activity Section -->
                <div class="mt-4">
                    <h2>Molecular property</h2>
                    <table class="table table-primary table-hover">
                        <thead>
                          <tr>
                            <th scope="col">S.NO</th>
                            <th scope="col">Property</th>
                            <th scope="col">Value</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr><tr>
                            <th scope="row">5</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr><tr>
                            <th scope="row">6</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr><tr>
                            <th scope="row">7</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr><tr>
                            <th scope="row">8</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr><tr>
                            <th scope="row">9</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr><tr>
                            <th scope="row">10</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr>
                        </tbody>
                      </table>
                    
                </div>
            </section>

            <section id="adme-prop">
                <h2>ADME properties</h2>
                <div class="mt-4"><table class="table table-primary table-hover">
                    <thead>
                      <tr>
                        <th scope="col">S.NO</th>
                        <th scope="col">Property</th>
                        <th scope="col">Value</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td colspan="2">Larry the Bird</td>
                      </tr><tr>
                        <th scope="row">5</th>
                        <td colspan="2">Larry the Bird</td>
                      </tr><tr>
                        <th scope="row">6</th>
                        <td colspan="2">Larry the Bird</td>
                      </tr><tr>
                        <th scope="row">7</th>
                        <td colspan="2">Larry the Bird</td>
                      </tr><tr>
                        <th scope="row">8</th>
                        <td colspan="2">Larry the Bird</td>
                      </tr><tr>
                        <th scope="row">9</th>
                        <td colspan="2">Larry the Bird</td>
                      </tr><tr>
                        <th scope="row">10</th>
                        <td colspan="2">Larry the Bird</td>
                      </tr>
                    </tbody>
                  </table>

                    
                </div>
            </section>
            <section id="druglike">
                <div class="mt-4">
                    <h2>Druglikliness</h2>
                    <div class="mt-4">
                    <table class="table table-primary table-hover">
                        <thead>
                          <tr>
                            <th scope="col">S.NO</th>
                            <th scope="col">Property</th>
                            <th scope="col">Value</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr><tr>
                            <th scope="row">5</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr><tr>
                            <th scope="row">6</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr><tr>
                            <th scope="row">7</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr><tr>
                            <th scope="row">8</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr><tr>
                            <th scope="row">9</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr><tr>
                            <th scope="row">10</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr>
                        </tbody>
                      </table>
            </section>


            <!-- Research Findings Section -->
            <section id="external-link">
                <div class="mt-4" id="externallink">
                    <h2>External links</h2>
                    <table class="table table-primary table-hover">
                        <thead>
                          <tr>
                            <th scope="col">S.NO</th>
                            <th scope="col">Property</th>
                            <th scope="col">Value</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr><tr>
                            <th scope="row">5</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr><tr>
                            <th scope="row">6</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr><tr>
                            <th scope="row">7</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr><tr>
                            <th scope="row">8</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr><tr>
                            <th scope="row">9</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr><tr>
                            <th scope="row">10</th>
                            <td colspan="2">Larry the Bird</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </section>
            <!-- References Section -->
            <section id="reference">
                <div class="mt-4 ">
                    <h2>References</h2>
                    <ul>
                        <li>Author, et al. (Year). Title of the Research Paper. <i>Journal Name</i>, Volume(Issue), Page
                            Range.
                        </li>
                        <!-- Add more references as needed -->
                    </ul>
                </div>
            </section>

        </div>
        <div class="col-md-3 top-0 end-0" id="fixed-column">

            <div class="p text-end" id="fixed-column">
                <div class="btn btn-primary top-0 ">
                    <a href="#" style="color:white">
                        DOWNLOAD (<span class="fs-5"> sdf</span>)
                    </a>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <h2 class="mt-2 fw-medium ">Content</h2>
                </div>
                <div class="list-group mt-2 d-flex " style="border: 1px;">
                    <a href="#summary"><button type="button" class="list-group-item list-group-item-action "
                            aria-current="true"><strong>Title and summary</strong>

                        </button></a>
                    <a href="#mcprop" style="text-decoration: none;" id="btn"><button type="button"
                            class="list-group-item list-group-item-action "><strong>Molecular
                                properties</strong></button>
                    </a>
                    <a href="#adme-prop"><button type="button" class="list-group-item list-group-item-action"><strong>ADME properties</strong>
                            </button></a>

                    <a href="#druglike"><button type="button"
                            class="list-group-item list-group-item-action"><strong>Druglikliness</strong></button>
                    </a>

                    <a href="#external-link"><button type="button" class="list-group-item list-group-item-action">
                            <strong>External link</strong>
                        </button></a>
                    <a href="#reference">
                        <button type="button" class="list-group-item list-group-item-action">
                            <strong>Reference Links</strong>
                        </button>
                    </a>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- Bootstrap JS and Popper.js (for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</script>

</div>

<!-- Bootstrap JS and Popper.js (for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</script>
{% endblock cmd %}