{% extends 'my_app/base.html' %}
{% load static %}
{% block home %}
<section id="hero" class="hero d-flex align-items-center"
  style="background-image : url('../../static/image/head2.jpg');
  padding-top: 80px; 
  background-position: right;
  background-position-y:-10px;
  background-color:rgb(216, 231, 231);">
  <!-- ... rest of your code ... -->
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg  justify-content-center">
        <h2  style="color:rgb(48, 48, 48)">Plant-Derived Phytocompound Database </h2>
        <h6 class='fs-5 text-dark'>Welcome to our botanical treasure trove! Discover the
          magic of plant phytocompounds on our webpage. Immerse yourself in a world where nature's wisdom meets digital
          brilliance. Explore, learn, and be enchanted by the wonders of our Plant Phytocompound Database—your gateway
          to the extraordinary benefits of botanical brilliance
        </h6>

        <form action="{% url 'search' %}" class="form-search d-flex align-items-stretch mt-3 " data-aos="fade-up"
          data-aos-delay="200" method="get">
          <input type="text" class="form-control" name="main_search" placeholder="Search by compound name">
          <button class="btn btn-primary fs-4 text-black">Search</button>


        </form>

        <div class="row gy-4 text-black" data-aos="fade-up" data-aos-delay="400">

          <div class="col-lg-3 col-6">
            <div class="stats-item text-center w-100 h-100">
              <span></span>
              <p>Clients</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-6 text-black">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-6 text-black">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Support</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-6 text-black">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Workers</p>
            </div>
          </div><!-- End Stats Item -->

        </div>
      </div>

      <div class="col-lg-5" data-aos="zoom-out">
        <img src="" class="img-fluid mb-3 mb-lg-0" alt="">
      </div>

    </div>
  </div>
</section><!-- End Hero Section -->

<main id="main">
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about pt-0">
    <div class="container pt-5" data-aos="fade-up">

      <div class="row gy-4">
        <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
          <img src="" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 content order-last  order-lg-first">
          <h3>About Us</h3>
          <p>
            PhytoChemDB is a project dedicated to cataloging and exploring the diverse world of phytochemicals
            foundb in plants. Our mission is to provide a comprehensive and accessible resource for researchers,students,
            and enthusiasts interested in the chemical compounds that make plants unique.
          </p>
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-diagram-3"></i>
              <div>
                <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
              </div>
            </li>
            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-fullscreen-exit"></i>
              <div>
                <h5>Magnam soluta odio exercitationem reprehenderi</h5>
                <p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna pasata redi</p>
              </div>
            </li>
            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-broadcast"></i>
              <div>
                <h5>Voluptatem et qui exercitationem</h5>
                <p>Et velit et eos maiores est tempora et quos dolorem autem tempora incidunt maxime veniam</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->
</main>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      // Get the search input element
      var searchInput = document.querySelector('input[name="main_search"]');

      // Clear the value of the search field
      searchInput.value = '';
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Initialize AOS with a delay
    AOS.init({
      delay: 200, // Set the delay value in milliseconds
    });

    // Get the search input element
    var searchInput = document.querySelector('input[name="main_search"]');

    // Clear the value of the search field
    searchInput.value = '';
  });
</script>

{% endblock home %}