{% extends 'my_app/base.html' %}
{% load static %}

{% block plantdetail %}

<div class="container pt-5 mt-5">
    <div class="row">
        {% for dict in dicts %}
        <div class="col-md-6 lh-lg">
            <h2 class="pt-3"><strong class="fs-1">{{dict.name}}</strong></h2>
            <div class="">
                <strong class="fs-5">Kingdom:</strong>
                Plantae<br>
                <strong class="fs-5">Family:</strong>
                Pinaceae<br>
                <strong class="fs-5">Group:</strong> Gymnosperms<br>
                <strong class="fs-5">Synonymous names:</strong> Abies
                nephrolepis<br>
                <strong class="fs-5">More Information:</strong><br><br>
            </div>
        </div>
        <div class="col-md-6 pt-3 d-flex justify-content-end">
            <img  class = "pe-5 rounded me-5" style = "width:360px; height:300px;"src="{{dict.plant_image.url}}" alt="plant image"> </img>

        </div>
    </div>
    {% endfor %}
</div>

<div class="container pt-5">
    <table class="table table-striped  table-primary table-hover" id="table_id" aria-describedby="table_id_info">
        <thead class="thead-dark">
            <tr>
                <th class="align-middle sorting sorting_asc">Indian medicinal plant</th>
                <th class="align-middle sorting_asc ">Therapeutic use identifiers</th>
                <th class="align-middle sorting">References</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">Mark</a></td>
                <td><a href="#">Otto</a></td>
                <td><a href="#">1</a></td>
            </tr>
            <tr>
                <td><a href="#">Jacob</a></td>
                <td><a href="#">Thornton</a></td>
                <td><a href="#">2</a></td>
            </tr>
            <tr>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}